<!DOCTYPE html>
<% content_for :body_class, "big-background" %>
<div class="headers">
	<span class="h1-span">
		Types of Waste
	</span>
</div>

<div class="typesofwaste">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="typesofwaste-thread">
						<tr>
							<th>Logo</th>
							<th>Type of Waste</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody class="typesofwaste-tbody">
						<tr class="typesofwaste-dry">
							<td><%= image_tag("dry_waste", style: "height: 50px; width: 50px") %></td>
							<td>Dry Waste</td>
							<td class="typesofwaste-tbody-description">
								Dry waste includes all items that are not considered wet or soiled items. Anything that can be kept for an extended period without decomposing. Ex: newspaper, cardboard, cans, aluminium foil.
							</td>
						</tr>
						<tr class="typesofwaste-wet">
							<td><%= image_tag("wet_waste", style: "height: 50px; width: 50px") %></td>
							<td>Wet Waste</td>
							<td class="typesofwaste-tbody-description">
								Wet waste includes all organic, non-dry waste. It usually includes kitchen waste. Ex: meat, fruits, eggs, fish, hair, vegetable peels.
							</td>
						</tr>
						<tr class="typesofwaste-garden">
							<td><%= image_tag("garden_waste", style: "height: 50px; width: 50px") %></td>
							<td>Garden Waste</td>
							<td class="typesofwaste-tbody-description">
								Garden waste is biodegradable waste that can be composed of garden or park waste, such as grass or flower cuttings and hedge trimmings. Ex: dry leaves, flowers, grass, hedge trimmings.
							</td>
						</tr>
						<tr class="typesofwaste-e">
							<td><%= image_tag("e_waste", style: "height: 50px; width: 50px") %></td>
							<td>E - Waste</td>
							<td class="typesofwaste-tbody-description">
								E-waste is any waste created by discarded electronic devices and components as well as substances involved in their manufacture or use. Ex: bulb, batteries, TVs, computer, mobiles, pen drives.
							</td>
						</tr>
						<tr class="typesofwaste-hazardous">
							<td><%= image_tag("hazardous_waste", style: "height: 50px; width: 50px") %></td>
							<td>Hazardous Waste</td>
							<td class="typesofwaste-tbody-description">
								Hazardous waste is waste that poses substantial or potential threats to public health or the environment. Ex: vehicle batteries, solvents, waste inks, lighters, pesticides, paints.
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>