<!DOCTYPE html>
<div class="headers">
	<span class="h1-span">
		Types of Waste
	</span>
</div>

<div class="typesofwaste">
	<div class="row">
		<div class="col-xs-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead class="typesofwastethread">
						<tr>
							<th>Type of Waste</th>
							<th>Logo</th>
						</tr>
					</thead>
					<tbody class="typesofwastetbody">
						<tr>
							<td>Dry Waste</td>
							<td><%= image_tag("dry_waste", style: "height: 50px; width: 50px") %></td>
						</tr>
						<tr>
							<td>Wet Waste</td>
							<td><%= image_tag("wet_waste", style: "height: 50px; width: 50px") %></td>
						</tr>
						<tr>
							<td>Garden Waste</td>
							<td><%= image_tag("garden_waste", style: "height: 50px; width: 50px") %></td>
						</tr>
						<tr>
							<td>E - Waste</td>
							<td><%= image_tag("e_waste", style: "height: 50px; width: 50px") %></td>
						</tr>
						<tr>
							<td>Hazardous Waste</td>
							<td><%= image_tag("hazardous_waste", style: "height: 50px; width: 50px") %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>