<!DOCTYPE html>
<%= render 'shared/header' %>

<%= render 'shared/searchbar' %>

<div class="yourwaste">
	You are looking to throw away -
	"<%= @waste_query %>"
	<p>
		This is a type of -
		<strong><%= @type_of_waste %></strong>
		<%= image_tag(@waste_logo, style: "height: 70px; width: 70px") %>
		<br>
		<span class="yourwaste-description-text">
			<%= @waste_description %>
		</span>
	</p>
</div>

<%= render 'shared/schedule' %>