<!DOCTYPE html>
<% content_for :body_class, "small-background" %>

<%= render 'shared/header' %>

<%= render 'shared/searchbar' %>

<div class="yourwaste">
	You want to throw away -
	"<%= @waste_query %>". This is 
	<strong><%= @type_of_waste %></strong>
	<%= image_tag(@waste_logo, style: "height: 70px; width: 70px; padding: 5px") %>
	<br>
	You can also check your waste pick up schedule <%= link_to("here", {controller: "schedule", action: "show"}, {:class => "link-text"}) %>.
</div>
<%= render 'shared/howToGetRidOfWaste'%>