<!DOCTYPE html>
<%= render 'shared/header' %>

<%= render 'shared/searchbar' %>

<div class="yourwaste">
	You want to throw away -
	"<%= @waste_query %>". This is 
	<strong><%= @type_of_waste %></strong>
	<%= image_tag(@waste_logo, style: "height: 70px; width: 70px") %>
	<br>
	Check your waste pick up schedule <%= link_to("here", {controller: "schedule", action: "show"}, {:style=>'color:#FFFFFF;', :class => "css_class"}) %>.
</div>